// Esquema de Cores e Tipografia
$fontPrincipal: Roboto, sans-serif;
$fundoBody: #f5f6fa;
$fundoHeader: #182C61;
$corTexto: #fff;
$fundoBotao: #44bd32;
$botaoDestaque: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;    